---
layout: skeleton
---

<!-- header importet from _includes-->
{% include header.html %}


<!-- content from here -->
<section class="section" id="introduction">
    </div>
    <div class="container">
        <h1 class="title">
        {{ site.data.content["section-introduction"].title[page.lang] }}
        </h1>
        <h2 class="subtitle">
        {{ site.data.content["section-introduction"].text[page.lang] }}
        </h2>
    </div>
</section>

<section class="section" id="howitworks">
    <div class="container">
        <h1 class="title">
            {{ site.data.content["section-howitworks"].title[page.lang] }}
        </h1>
        <h2 class="subtitle">
            {{ site.data.content["section-howitworks"].text[page.lang] }}
        </h2>
        <p></p>
        {%- if page.lang == 'de' -%}
        <h1>STELLE DIR EIN PLATZHALTER IMAGE VOR</h1>
          {%- else -%}
          <h1>A PLACEHOLDER IMAGE</h1>
        {%- endif -%}
        </h1>
    </div>
</section>

<section class="section" id="participate">
  <div class="container">
      <h1 class="title">
          {{ site.data.content["section-participate"].title[page.lang] }}
      </h1>
      <div class="columns is-centered">
        <div class="column">
          <h2 class="subtitle">
              {{ site.data.content["section-participate"].company-heading[page.lang] }}
          </h2>
          <p>
            {{ site.data.content["section-participate"].company-txt[page.lang] }}
            <br>
            <br>
          </p>
          <button class="button is-primary">
            {{ site.data.content["section-participate"].company-btn-txt[page.lang] }}
          </button>
        </div>
        <div class="column">
          <h2 class="subtitle">
              {{ site.data.content["section-participate"].supporter-heading[page.lang] }}
          </h2>
          <p>
            {{ site.data.content["section-participate"].company-txt[page.lang] }}
            <br>
            <br>
          </p>
          <button class="button is-primary">
            {{ site.data.content["section-participate"].supporter-btn-txt[page.lang] }}
          </button>
        </div>
      </div>
      <p></p>
  </div>
</section>

<!-- +++ fotter importet from _includes folder +++ -->
{% include footer.html %}



