---
layout: skeleton
---

<section class="hero is-medium" id="hero">
    <div class="section">
      <nav class="navbar is-fixed-top">
        <div class="container">
          <div class="navbar-brand">
            <a href="/" class="navbar-item">
              {% include placeholder_icon_ff4040.html %}
            </a>
        
            <input
            type='checkbox'
            role='button'
            id='navbar-burger-toggle'
            class='navbar-burger-toggle is-hidden'
            aria-label='menu'
            aria-expanded='false'
            >

            <p class="construction">
                &#128372 This Website is under construction!
            </p>

          <label for='navbar-burger-toggle' class='navbar-burger'>
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
    </div>
    <div class="header-stroke">
  </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <!-- create the menu items -->
              {%- for item in site.data.content -%}
              {% assign key = item[0] %}
              {% assign id = site.data.content[key].id %}
              {% assign text = site.data.content[key].title[page.lang] %}
              {%- unless site.data.content[key].id -%}
              <!-- if there is no id we dont add it to the menu -->
              {% continue %}
              {%- endunless  -%}
              <a class="navbar-item menu__navbar-items" id="navbar-item-{{forloop.index0}}" href="/{%-if page.lang == 'en'-%}en{%-endif-%}#{{id}}">
                {{text}}
              </a>
              {%- endfor -%}
              <!--
                 add the de/en switch
                 add is-active class based on current page.lang
               -->
              <span class="navbar-item">
                 <span class="{%- if page.lang == 'en' -%}is-active{%-endif-%}"><a href="/en">EN</a></span>|<span class="{%- if page.lang == 'de' -%}is-active{%-endif-%}"><a href="/">DE</a>
                </span>
              </span>
            </div>
        </div>
      </nav>
    </div>
    <!-- Hero content: will be in the middle -->
  
    <div class="hero-body"></div>
      <div class="container">
            <div class="header-stroke">
        </div>
      </div>
    </div>
    <!-- Hero footer: will stick at the bottom -->
    <!-- <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li class="is-active"><a>Overview</a></li>
            <li><a>Modifiers</a></li>
            <li><a>Grid</a></li>
            <li><a>Elements</a></li>
            <li><a>Components</a></li>
            <li><a>Layout</a></li>
          </ul>
        </div>
      </nav>
    </div> -->
</section>
<section class="section" id="introduction">
    </div>
    <div class="container">
        <h1 class="title">
        {{ site.data.content["section-intro"].title[page.lang] }}
        </h1>
        <h2 class="subtitle">
        {{ site.data.content["section-intro"].text[page.lang] }}
        </h2>
    </div>
</section>

<section class="section" id="registration">
    <div class="container">
        <h1 class="title">
            {{ site.data.content["section-registration"].title[page.lang] }}
        </h1>
        <h2 class="subtitle">
            {{ site.data.content["section-registration"].text[page.lang] }}
        </h2>
        <p></p>
        <button class="button is-primary">
            {{ site.data.content["section-registration"].btn-txt[page.lang] }}
        </button>
    </div>
</section>

