<html lang="en" class="navbar-fixed-top">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {{site.data.content.meta.title[page.lang]}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
    <link rel="icon" type="image/svg" sizes="32x32" href="/assets/images/placeholder_icon_ff4040.svg">
    </head>
    <body>
    {{content}}
    <!-- <script src="/assets/js/index.bundle.js"></script> -->
    </body>
</html>
